html {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.container-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1{
  text-align: center;
  font-family: 'Oxanium';
  font-size: 40px;
}

.item-1 {
  width: 200px;
  height: 550px;
  background-color: #ffb5c2;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
}

body {
  font-family: 'Oxanium';font-size: 22px;
  background-color: #ffe9ce;
  padding: 0px;
}

img {
  border-radius: 10px;
}

.navbar {
  
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffbe86;
  padding: 10px;
}
.jaunums {
  display: flex;
  flex-direction: row;
}

  .item-jaunums {
    width: 300px;
    height: 400px;
    background-color: #ffe156;
    border-radius: 20px;
    margin: 10px;
    text-align: left;
  }
.item-jaunums-1 {
  width: 300px;
  height: 400px;
  background-color: #ffe156;
  border-radius: 20px;
  margin: 10px;
  text-align: left;
}
  td {
    padding: 10px;
    text-align: center;
  }
.navbar a{
  margin-right: 90px;
  
}
.navbar table{
  margin-left: 20px;
}

.Othpages {
  text-decoration: none;
  color: black;
}
.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  height: 180px;
  background-color: #ffb5c2;
  border-radius: 20px;
}
form {
  display: flex;
  flex-direction: row;
  height: 200px;
  margin-top: 20px;
  margin-left: 20px;
}
form div{
  margin-right: 20px;
}
.report-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  height: 100px;
  background-color: #ffb5c2;
  border-radius: 20px;
}