html {
  height: 100%;
  width: 100%;
  }
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-1 {
  width: 200px;
  height: 350px;
  background-color: #ffb5c2;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
  padding: 10px;
}